In [16]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    'nombres': ['alicia','juan','pedro','maria'],
    'edades': [23, 45, 34, 29],
    'ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla'],
    'genero': ['femenino', 'masculino', 'masculino', 'femenino']
})

#clave son columnas, valores son filas
print(df)

  nombres  edades     ciudad     genero
0  alicia      23     Madrid   femenino
1    juan      45  Barcelona  masculino
2   pedro      34   Valencia  masculino
3   maria      29    Sevilla   femenino

In [3]:
df

  nombres  edades     ciudad     genero
0  alicia      23     Madrid   femenino
1    juan      45  Barcelona  masculino
2   pedro      34   Valencia  masculino
3   maria      29    Sevilla   femenino

In [5]:
df ['nombres']

0    alicia
1      juan
2     pedro
3     maria
Name: nombres, dtype: object

In [ ]:
df.shape #obtiene el numero de filas y columnas

df.columns #obtiene los nombres de las columnas

df.index #obtiene el indice de las filas

df.dtypes #obtiene el tipo de dato de cada columna

df.info() #obtiene informacion general del DataFrame

df.describe() #obtiene estadisticas descriptivas de las columnas numericas

df.head() #muestra las primeras 5 filas del DataFrame

df.tail() #muestra las ultimas 5 filas del DataFrame

df.sample(2) #muestra 2 filas aleatorias del DataFrame

df['nombres'].unique() #obtiene los valores unicos de la columna 'nombres'

In [6]:
df.shape

(4, 4)

In [7]:
df.columns

Index(['nombres', 'edades', 'ciudad', 'genero'], dtype='object')

In [15]:
df.shape[1] #numero de filas

4

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   nombres  4 non-null      object
 1   edades   4 non-null      int64
 2   ciudad   4 non-null      object
 3   genero   4 non-null      object
dtypes: int64(1), object(3)
memory usage: 260.0+ bytes

In [ ]:
# data frame es una estructura de datos bidimensional, similar a una tabla en una base de datos o una hoja de c√°lculo de Excel.
# cada columna puede tener un tipo de dato diferente (numerico, texto, fecha, etc.)
# las filas representan registros individuales, y las columnas representan atributos de esos registros.
# pandas es una libreria de python para el analisis de datos, que proporciona estructuras de datos y herramientas para manipularlos.

In [ ]:
df1 = df.copy() # crea una copia del DataFrame original

In [17]:
df.describe() # obtiene estadisticas descriptivas de las columnas numericas

          edades
count   4.000000
mean   32.750000
std     9.322911
min    23.000000
25%    27.500000
50%    31.500000
75%    36.750000
max    45.000000

In [ ]:
name =" jose"

In [19]:
df['edades'].mean() # obtiene la media de la columna 'edades'

np.float64(32.75)

In [20]:
df['edades'].max() # obtiene el valor maximo de la columna 'edades'

np.int64(45)

In [21]:
df['edades'].min() # obtiene el valor minimo de la columna 'edades'

np.int64(23)